@use '../util';
.navbar {
  position: sticky;
  top: 0;
  z-index: 300;
  width: 100%;
  border-bottom: 1px solid var(--font-color-light-900);
  background-color: var(--background-color-dark);
  &-container {
    width: min(100%,1400px);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__logo {
      position: relative;
      width: 8rem;
      height: 4rem;
	  overflow:hidden;
      margin-top: 0.125rem;
      margin-bottom: 0;
      img {
        position: absolute;
        overflow: hidden;
        height: 128px;
        width: 128px;
      }
    }
    &__list {
      display: flex;
      flex-direction: row;
      list-style: none;
      text-transform: uppercase;
      text-align: center;
      gap: 2rem;
      margin: auto 2rem auto 1rem; // top right bottom left
	  @include util.breakpoint-down('small'){
		padding-left:0;
		margin: auto 1rem auto 0;
		gap:1rem;
	  }
      i {
        font-size: 1.4rem;
      }
    }
  }
}
