.panda-on-text {
  margin: auto;
  padding: 2rem;
  &-container {
    position: relative;
    color: black;
    margin: auto;
    text-align: center;
    img {
      position: absolute;
      width: 164px;
      top: -128px;
      left: 50%;
      transform: translateX(-50%);
    }
    h1 {
      font-weight: 900;
      color: var(--font-color-dark-700);
      margin-bottom: 0;
    }
    h2 {
      font-weight: 300;
      color: var(--font-color-dark-900);
    }
  }
}
