@use "../util";
.swiper {
  &-container {
   // width: 80%;
   width: min(100% , 1400px);
  }
  &__button {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
    text-align: center;
    cursor: pointer;
    background-color: inherit;
    color: white;
    border-radius: 50%;
    border: none;
    font-size: 6rem;
    font-weight: 700;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    &:hover,&:active,&:focus {
      color: var(--font-color-light-700);
      font-size: 7rem;
    }
    &-prev {
      @extend .swiper__button;
      left: 0;
	  @include util.breakpoint-down('large'){
		color:white;
	  }
    }
    &-next {
      @extend .swiper__button;
      right: 0;
	  @include util.breakpoint-down('large'){
		color:white;
	  }
    }
  }
}

.slider-container {
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: grab;
  @include util.breakpoint-down('large'){
	img {
		filter: brightness(40%);
	  }
	  .slider-container__panel {
		visibility: visible;
	  }
  }
  &:hover,&:active,&:focus {
    img {
      filter: brightness(40%);
    }
    .slider-container__panel {
      visibility: visible;
    }
  }
  img {
    height: 30vh;
    min-height: 300px;
    width: 100%;
    object-fit: fill;
    border-radius: 1rem;
    transition: all 0.4s;
  }
  &__panel {
    transition: all 0.2s;
    visibility: hidden;
    z-index: 2;
    position: absolute;
    top: min(20%, 40%);
    left: calc(50% - 8rem);
    text-align: center;
   // width: 24em;
    width: min(16rem, 80%);
    margin: auto;
    h2 {
      text-transform: uppercase;
      font-weight: 600;
      mix-blend-mode: difference;
	  margin-bottom: 0.5rem;
    }
    p {
      font-weight: 400;
      font-style: italic;
    }
  }
}
