@use "../util";
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: util.$font-montserrat;
  background-color: var(--background-color-dark);
  color: var(--font-color-light-300);
}
i {
  color: var(--font-color-light-500);
  transition: all 0.2s ease-in-out;
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    transform: scale(1.2);
  }
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 100px);
}
