:root {
  --background-color-dark: #17181c;
  --background-color-light: #f4f6ff;
  --background-color-gray: #f6f6f6;
  --background-color-yellow: rgba(118, 184, 41, 0.3);

  --font-color-light-900: #19a48b;
  --font-color-light-700: #d5a419;
  --font-color-light-500: #84d37f;
  --font-color-light-300: #ffffff;
  --font-color-light-100: #c0e226;

  --font-color-dark-900: #101114;
  --font-color-dark-700: #5a5563;
  --font-color-dark-500: #847688;
  --font-color-dark-300: #b298ad;
}
