:root {
  --background-color-dark: #17181c;
  --background-color-light: #f4f6ff;

  --font-color-light-900: #19a48b;
  --font-color-light-700: #d5a419;
  --font-color-light-500: #84d37f;
  --font-color-light-300: #ffffff;

  --font-color-light-dark-900: #101114;
  --font-color-light-dark-700: #5a5563;
  --font-color-light-dark-500: #847688;
  --font-color-light-dark-300: #b298ad;
}
