.swiper {
  overflow: hidden;
}

.slider-container {
  margin: auto;
  position: relative;
  overflow: hidden;
  img {
    height: 80vh;
    min-height: 600px;
    filter: brightness(80%);
    width: 100%;
    object-fit: fill;
  }
  &__panel {
    position: absolute;
    top: 40%;
    left: calc(50% - 12em);
    text-align: center;
    width: 24em;
    margin: auto;
    h1 {
      text-transform: uppercase;
      font-weight: 600;
    }
    p {
      font-weight: 400;
      font-style: italic;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  border: 2px solid white !important;
  padding: 0.8rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition-duration: 0.2s;
  &:hover {
    background-color: white;
    transition: all 0.4s;
  }
}

.swiper-button-prev {
  margin-left: 2%;
}
.swiper-button-next {
  margin-right: 2%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  transition-duration: 0.2s;
  font-size: 1.8rem !important;
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: black;
  transition: all 0.4s;
}
