.restaurants-page-container {
  height: 90vh;
  max-height: 900px;
  min-height: 800px;
  background-image: url("../../../assets/food/test-background.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
