@use '../../util';
.about-page-container {
  background-color: var(
    --font-color-dark-700
  ); 
  border-top: 0.5rem solid var(--font-color-dark-900);
  position: relative;
  min-height: 300px;
  &-image {
    position: absolute;
    right: 0px;
    bottom: -10px;
	@include util.breakpoint-down('small'){
		display:none;
	}
	img{
		width:100%;
	}
  }
  &-text {
  // width: 40%;
 	width: min(50%, 700px);
    margin: 4rem auto 0rem;
    text-align: center;
	padding-bottom: 2rem;
	@include util.breakpoint-down('medium'){
		margin: 4rem 2rem 0rem;
		text-align: left;
		width:60%;
	}
	@include util.breakpoint-down('small'){
		margin: 2rem auto 0rem;
		text-align: center;
		width:80%;
	}
    h1 {
      color: var(--background-color-light);
      font-weight: 700;
      span {
        color: #c0e226;
      }
    }
  }
}
