.about-page-container {
  background-color: var(
    --font-color-dark-700
  ); //maybe light? or gray? dark 700 or 500
  border-top: 0.5rem solid var(--font-color-dark-900);
  position: relative;
  min-height: 300px;
  &-image {
    position: absolute;
    right: 0px;
    bottom: -10px;
  }
  &-text {
    width: 40%;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    h1 {
      color: var(--background-color-light);
      font-size: 4rem;
      font-weight: 700;
      span {
        color: #c0e226;
      }
    }
  }
}
