.find-restaurant-page-container {
  height: calc(100vh - 60px);
  max-height: 900px;
  min-height: 600px;
  background-image: url("../../../assets/find_restaurant_page_bg.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
