.private-policy-container {
  width: 80%;
  margin: auto;
  margin-top: 12rem;
  background-color: white;
  border-radius: 15px;
  .panda-on-text-container img {
    top: -138px;
  }
  &-text {
    text-align: center;
    padding: 0 4rem 2rem 4rem;
    color: black;
    span {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 2rem;
      letter-spacing: 2px;
    }
    h4 {
      font-weight: 900;
      color: var(--font-color-dark-700);
    }
    p:first-of-type {
      margin-top: 4rem;
    }
  }
}
