@use '../../../styles/util';
.private-policy-container {
  width: min(100% - 2rem, 1400px);
  margin: auto;
  margin-top: calc(6rem + 4vw);
  background-color: white;
  border-radius: 15px;
  .panda-on-text-container img {
    top: -138px;
  }
  &-text {
    text-align: center;
    padding: 0 4rem 2rem 4rem;
    color: black;
	@include util.breakpoint-down('small'){
		padding: 0 2rem 1rem 2rem;
	}
    span {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 2rem;
      letter-spacing: 2px;
    }
    h4 {
      font-weight: 900;
      color: var(--font-color-dark-700);
    }
    p:first-of-type {
      margin-top: 4rem;
    }
  }
}
